<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<aop:aspectj-autoproxy />

	<bean name="circle" class="com.sampath.springaop.work.dto.Circle">
		<property name="name" value="THE FIRST CIRCLE" />
	</bean>
	<bean name="triangle" class="com.sampath.springaop.work.dto.Triangle">
		<property name="name" value="THE FIRST TRIANGLE" />
	</bean>

	<bean name="shapeService" class="com.sampath.springaop.work.service.ShapeService" autowire="byName" />
	
	<bean name="loggingAspect" class="com.sampath.springaop.work.aspect.LoggingAspect" />

</beans>